.rickBase {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  /* border: solid 3px red; */
  height: 100%;
}

/* .rickDisplay {
  background-color: rgb(255, 1, 1);
} */

.rick {
  height: 100%;
}

.rickMenu {
  width: 30%;
  border: solid 3px black;
}

.rickList {
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid 3px rgb(219, 219, 219);
  background-color: rgb(43, 226, 73);
  width: 70%;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rickItem {
  border: solid 2px purple;
}
